@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --font-segoe: "segoe-ui";
}

@layer base {
    @font-face {
        font-family: "segoe-ui";
        src: url("/assets/fonts/segoe-ui/SegoeUI.ttf") format("truetype");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }
}
